@font-face {
  font-family: 'Pathway Gothic One';
  font-path: '/fonts/PathwayGothicOne-Regular';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-path: '/fonts/Roboto-BoldItalic';
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-path: '/fonts/Roboto-Italic';
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-path: '/fonts/Roboto-Bold';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-path: '/fonts/Roboto-Regular';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

